@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default theme (light) */
:root {
  --color-primary: #00899c;
  --color-secondary: #23394d;
  --color-accent: #00899c;
  --color-text: #1e293b;
}

/* Dark theme overrides */
.dark {
  --color-primary: #007384;;
  --color-secondary: #1b2a37;
  --color-accent: #00a9c2;
  --color-text: #ffffff;
}
